.button:hover {
	-fx-background-color: #9900ff;
	-fx-text-fill: white;
}

.button {
	-fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
    -fx-font: "Segoe UI";
}